.table {
    width: 90%;

    thead {
        .row{
            text-align: left;
            
            .head {
                padding-bottom: 1rem;
                text-decoration: underline;
            }
        }
    }

    tbody {
        color: #989898;
    }
}